* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    background-color: #1F2937;
    padding: 20px;
    
}

.up-side {
    width: 1200px;
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-between;
    
}

.down-side {
    width: 1200px;
    /* border: 2px solid white; */
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24PX;
    font-weight: bold;
    
}

.right-side-links ul {
    list-style: none;
    display: flex;
}

ul li a {
    text-decoration: none;
    padding-left: 20px;
    font-weight: 18px;
    color: #E5E7EB;
}



.left-side-hero {
    width: 500px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #E5E7EB;
    padding-top: 30px;
}

button {
    background-color: #3882F6;
    color: #ffffff;
    margin-top: 30px;
    padding: 10px;
    
}